<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	title Document
	link(href='css/flexbox.css', rel='stylesheet', type='text/css')
		
body
	//- .flex-container.layout02
	//- 	.flex-item.content content
	//- 	.flex-item.menu menu
	//- 	.flex-item.other

	//- .flex-container.layout03
	//- 	.flex-item.menu menu
	//- 	.flex-item.content content
		
	//- .flex-container.layout04	
	//- 	.flex-item.menu menu
	//- 	.flex-item.content content
	//- 	.flex-item.other other

	//- .flex-container.layout05
	//- 	.flex-item.menu menu
	//- 	.flex-item.content content
	//- 	.flex-item.other1 other1
	//- 	.flex-item.other2 other2

	//- .flex-container.layout06
	//- 	.flex-item.menu menu

	//- .flex-container.layout08
	//- 	.header
	//- 		.flex-item.header header
	//- 	.main
	//- 		.flex-item.menu menu
	//- 		.flex-item.content content
	//- 		.flex-item.other other


	.flex-container.layout09
		.header
			.flex-item.header header
		.main
			.flex-item.menu menu
			.flex-item.content content
			.flex-item.other other
		.footer
			.flex-item.footer footer