.lnk-from { position: fixed; left: 0; right: 0; bottom: 20px; color: #000; text-align: center }
* { list-style-type: none }
header { position: fixed; top: 0; left: 0; width: 100%; z-index: 16 }
.inner { display: flex; justify-content: center; padding: 30px 0 0 0; width: 100% !important }
.navBtn { display: none }
.mainMenu { font-size: 14px; font-weight: 400; letter-spacing: .7px; line-height: 40px; align-items: center; background-color: #fff; border-radius: 10px; box-shadow: 0 1px 6px rgba(0, 0, 0, .16); display: flex; height: 60px; margin: 0 20px 0 0; padding: 0 32px 0 32px; vertical-align: middle }
.mainMenu li { height: 60px; padding: 0 15px 0 15px; position: relative }
.mainMenu li.logo { transition: .6s ease-in-out; -webkit-transition: .6s ease-in-out; margin: 0; padding: 0; overflow: hidden; width: 0 }
.mainMenu li.logo h1 { height: 100%; width: 195px; margin: 0; }
.mainMenu li.logo h1 a { transition: .6s ease-in-out; -webkit-transition: .6s ease-in-out; align-items: center; display: flex; margin: 0 70px 0 0 }
.mainMenu li.logo h1 a img { width: 125px }
.mainMenu li.logo h1 a::before { display: none }
.mainMenu li.logo h1 a::after { display: none }

.mainMenu li.logo.second { background-color: #fff; position: relative; z-index: 1 }
.mainMenu li a { text-decoration: none; color: #000; font-weight: 700; align-items: center; display: flex; font-weight: 500; height: 100%; position: relative; white-space: nowrap }
.mainMenu li a:hover::before { background: #2e9648; content: ""; position: absolute; left: calc(50% - 2.5px); bottom: 8px; width: 5px; height: 5px; border-radius: 100%; opacity: 0; animation: downdot .5s cubic-bezier(.09, .65, .51, 1.47); animation-fill-mode: forwards }
@keyframes downdot {
	0% { bottom: 8px; opacity: 1 }
	100% { bottom: -13px; opacity: 1 }
}
.mainMenu li a:hover::after { background: #2e9648; content: ""; position: absolute; left: calc(50% - .5px); bottom: 13px; width: 1px; height: 0; animation: downline .3s ease-in-out; animation-fill-mode: forwards }
@keyframes downline {
	0% { height: 0; opacity: 1 }
	100% { bottom: -13px; height: 26px; opacity: 1 }
}
@keyframes closeLogo {
	0% { margin-right: 9px; overflow: hidden; width: 100% }
	100% { margin-right: 0; width: 0 }
}
.mainMenu li.selected::after, .mainMenu li:hover::after { background: #2e9648; content: ""; position: absolute; left: calc(50% - 2.5px); bottom: 8px; width: 5px; height: 5px; border-radius: 100% }
.mainMenu li.selected a::before { background: #2e9648; content: ""; position: absolute; left: calc(50% - 2.5px); bottom: -13px; width: 5px; height: 5px; border-radius: 100%; opacity: 1; animation: none }
.mainMenu li.selected a::after { background: #2e9648; content: ""; position: absolute; left: calc(50% - .5px); bottom: -13px; width: 1px; height: 26px; animation: none }
.subMenu { margin: 0; padding: 0; font-size: 14px; font-weight: 400; letter-spacing: .7px; line-height: 40px; transition: .6s ease-in-out; -webkit-transition: .6s ease-in-out; background-color: #2e9648; border-radius: 10px; box-shadow: 0 1px 6px rgba(0, 0, 0, .16); display: flex }
.subMenu li { background-color: #2e9648; height: 60px }
.subMenu li.recruit { border-radius: 10px 0 0 10px; padding: 0 15px 0 40px }
.subMenu li.contact { border-radius: 0 10px 10px 0; padding: 0 40px 0 15px }
.subMenu li a { align-items: center; color: #fff; display: flex; height: 100%; white-space: nowrap }
.subMenu li a img { transition: .6s ease-in-out; -webkit-transition: .6s ease-in-out; margin: 0 5px 0 0; width: 16px }
.subMenu .short { display: none }
.opened .mainMenu { margin: 0 30px 0 0; padding: 0 35px 0 30px; width: 940px }
.opened .mainMenu li.logo { width: 195px }
.opened .mainMenu li.logo a { margin: 0 9px 0 0; overflow: visible; width: 125px }
.opened .mainMenu li.logo::after { display: none }
.opened .subMenu { transition: .6s ease-in-out; -webkit-transition: .6s ease-in-out; background-color: inherit; border-radius: 0; box-shadow: none }
.opened .subMenu li { transition: .3s ease-in-out; -webkit-transition: .3s ease-in-out; background-color: #2e9648; border-radius: 10px; box-shadow: 0 1px 6px rgba(0, 0, 0, .16); height: 60px; overflow: hidden; padding: 0; text-align: center; width: 80px }
.opened .subMenu li.recruit { margin: 0 30px 0 0 }
.opened .subMenu li a { transition: .6s ease-in-out; -webkit-transition: .6s ease-in-out; align-items: flex-start; font-size: 0; justify-content: center; flex-wrap: wrap; padding: 14px 0 14px 0; width: 100% }
.opened .subMenu li a img { transition: .6s ease-in-out; -webkit-transition: .6s ease-in-out; margin: 0; width: 33px }
.opened .subMenu li a span { font-size: 13px; font-weight: 500; letter-spacing: .65px; line-height: 13px; padding-top: 18px }
.opened .subMenu li.contact a { padding-top: 20px }
.opened .subMenu li:hover { transition: .3s ease-in-out; -webkit-transition: .3s ease-in-out; height: 88px; }
.opened .subMenu .short { display: block }
.opened .subMenu .long { display: none }
