.nav-toggle-btn { background: none; border: none; padding: 0; margin: .25rem 0 0; border-radius: 0; outline: none; float: right; position: relative; z-index: 995; font-weight: bold; text-transform: uppercase; color: inherit; }
.nav-toggle-btn:hover { color: #b11d11; }
.nav-toggle-btn:focus { outline: none; }

.nav-toggle { width: 29px; height: 29px; display: inline-flex; vertical-align: middle; flex-direction: column; align-items: center; justify-content: center; margin: auto; cursor: pointer; }


.nav-toggle-btn:hover .stick { background-color: #b11d11; }
.stick { width: 29px; height: 3px; margin-bottom: 5px; background-color: #000000; display: inline-block; }
.menu-opened .nav-toggle-btn { color: #000000; }
.menu-opened .nav-toggle-btn .stick { background-color: #000000; }
.stick:last-child { margin-bottom: 0px; }
.nav-toggle:hover .stick-2 { width: 29px; }
.menu-opened .stick-1 { animation: stick-1-open .85s ease-out forwards; }
.menu-opened .stick-2 { animation: stick-2-open .85s linear forwards; width: 29px; margin-left: 0px; }
.menu-opened .stick-3 { animation: stick-3-open .85s linear forwards; }

@keyframes stick-1-open {
  0% { width: 29px; }
  30% { width: 3px; transform: translate(14px, 0px); }
  65% { width: 3px; transform: translate(14px, -29px); animation-timing-function: cubic-bezier(0, 1, 1, 1); }
  100% { width: 2px; transform: translate(9px, 17px); }
}

@keyframes stick-2-open {
  65% { width: 29px; transform: translate(0px, 0px) rotate(0deg); }
  100% { width: 29px; transform: translate(0px, 0px) rotate(45deg); }
}
@keyframes stick-3-open {
  65% { transform: translate(0px, 0px) rotate(0deg); }
  100% { transform: translate(0px, -8px) rotate(-45deg); }
}

.menu-close .stick-1 { width: 3px; animation: stick-1-close .85s ease-out forwards; }
.menu-close .stick-2 { animation: stick-2-close .85s ease-out forwards; margin-left: 0px; }
.menu-close .stick-3 { animation: stick-3-close .85s ease-out forwards; }

@keyframes stick-1-close {
  0%, 70% { width: 0px; transform: translate(0, 0); }
  100% { width: 29px; transform: translate(0, 0); }
}
@keyframes stick-2-close {
  0% { width: 29px; transform: translate(0px, 0px) rotate(45deg); }
  20% { width: 3px; transform: translate(0, 0px) rotate(45deg); }
  40% { width: 0px; }
  65% { transform: translate(0, -26px); animation-timing-function: cubic-bezier(0, 1, 1, 1); }
  80% { width: 0px; }
  100% { width: 29px; transform: translate(0, 0px); }
}
@keyframes stick-3-close {
  0% { width: 29px; transform: translate(0px, -8px) rotate(-45deg); }
  20% { width: 3px; transform: translate(0, -8px) rotate(-45deg); }
  40% { }
  65% { transform: translate(0, -35px); animation-timing-function: cubic-bezier(0, 1, 1, 1); }
  90% { width: 3px; }
  100% { width: 29px; transform: translate(0, 0px); }
}
@-webkit-keyframes stick-1-open {
0% { width: 29px; }
30% { width: 3px; transform: translate(-14px, 0px); }
65% { width: 3px; transform: translate(14px, -29px); animation-timing-function: cubic-bezier(0, 1, 1, 1); }
100% { width: 2px; transform: translate(9px, 17px); }
}
@-webkit-keyframes stick-2-open {
65% { width: 29px; transform: translate(0px, 0px) rotate(0deg); }
100% { width: 29px; transform: translate(0px, 0px) rotate(45deg); }
}
@-webkit-keyframes stick-3-open {
65% { transform: translate(0px, 0px) rotate(0deg); }
100% { transform: translate(0px, -8px) rotate(-45deg); }
}
@-webkit-keyframes stick-1-close {
  0%, 70% { width: 0px; transform: translate(0, 0); }
  100% { width: 29px; transform: translate(0, 0); }
}
@-webkit-keyframes stick-2-close {
  0% { width: 29px; transform: translate(0px, 0px) rotate(45deg); }
  20% { width: 3px; transform: translate(0, 0px) rotate(45deg); }
  40% { width: 0px; }
  65% { transform: translate(0, -26px); animation-timing-function: cubic-bezier(0, 1, 1, 1); }
  80% { width: 0px; }
  100% { width: 29px; transform: translate(0, 0px); }
}
@-webkit-keyframes stick-3-close {
  0% { width: 29px; transform: translate(0px, -8px) rotate(-45deg); }
  20% { width: 3px; transform: translate(0, -8px) rotate(-45deg); }
  40% { }
  65% { transform: translate(0, -35px); animation-timing-function: cubic-bezier(0, 1, 1, 1); }
  90% { width: 3px; }
  100% { width: 29px; transform: translate(0, 0px); }
}